.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e1dce0;
    padding-top: 8rem;
    width: 80%;
   

}
.container{
    background-color: #CEAD6D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: fit-content;
    min-width: fit-content;
    max-width: max-content;
}
.containerbutton{
    background-color: #CEAD6D;
    width: 100%;
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
    justify-content: center;

}

.buttondelete{
    margin-left: 10px;
    padding-top: 1rem;
    background:  #242A38;
    width: 100%;
    height: 10px;
}
input{
    color: white;
    width: 40%;
    background-color: #202430;
}

