.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CEAD6D;
}


.title {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    background-color: #e1dce0;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;

}
.button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}