
.seccion1{
    background-color:#E1DCE0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    width: 100vw;
    overflow: hidden;

}

.seccion1 h1{
    text-align: center;
}
.seccion1 p{
    text-align: center;
    margin: 40px 50px 40px 50px;
}
.seccion1 button{
    width: 40vw;
    height: 4vh;
    background-color: #BACBDB;
    color: #686461;
    font-weight:bold;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
}

.seccion1 button:hover {
    box-shadow: 0px -3px 5px 0px #9E9B98;
    text-decoration:underline;
}
.seccion1_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2vw;
    
}

.video{
    width: 40vw;
    overflow: hidden;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 30px;
    position: absolute;
}

.seccion1_2{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 75vw;
    overflow: hidden;
    margin: 30px;
            
}
.seccion2{
    background-color: #CEAD6D;
    height: 600px;
    width: 100%;
}

.seccion2_1{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-between;
}
#logoMundoToday{
    height: 40px;
    width: 40px;
}

.seccion2 h2{
    text-align: center;
    padding:20px;
}
.seccion3{
    background-color:aqua;
    height: 50vh;;
    width: 100%;
}
.seccion4{
    background-color:blueviolet;
    height: 50vh;;
    width: 100%;
}
.seccion5{
    background-color:chartreuse;
    height: 50vh;;
    width: 100%;
}
