.contenedor{
    position: fixed;
    top:100px;
    right: 250px;
    width: 60%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    color: white;
    background-image: linear-gradient(to right, #114357 0%, #F29492  51%, #114357  100%);
    transition: 0.5s;
}

.contenedor:hover{
    background-position: right left; /* change the direction of the change here */
}

.text{
    padding-top: 10px;
    font-size:x-large;
    text-align: center;
}

.imagen{
    border-radius: 10px;
}


@media only screen and (max-width: 768px){
    .text{
        padding-top: 10px;
        font-size:medium;
        
    }

}
