.chatContainer{
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    
}

.listGroup{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 97%;
  
    
  
}

.elementChat{
    
}