.seccion1 {
    background-color: #242A38;
    height: 100vh;
    width: 100vw;
    justify-content: space-around;

}

.seccion1 div {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.seccion1 h2 {
    margin-top: 60px;
    display: flex;
    color: white;
    justify-content: center;
    margin-right: 10px;
}
.logo{
    margin-top: 30px;
}

.seccion1 h5 {

    display: flex;
    margin-top: 50px;
    color: white;
    justify-content: center;
    align-content: center;
    text-align: center;
    
}

.seccion1 figcaption {
    margin-top: 270px;
    background-color: rgba(56, 49, 50, 0.2);
    border-radius: 10px;
}


.seccion1_1 {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    height: 60%;
    width: 100%;
}

ul {

    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


}

ul li {

    display: flex;

    align-content: center;

    justify-content: space-around;

}

ul li figure {
    display: flex;
    padding: 5px;
    position: relative;
    align-content: center;
}

ul li figure:hover figcaption {
    display: block;

}


ul li figcaption {

    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    text-align: center;
    padding: 15px;
    font: 20px/30px;
    color: white;
    background-color: rgba(0, 0, 0, .7);
    height: 150px;
    width: 200px;
    overflow: hidden;
    word-break: break-all;
    align-content: space-around;
    box-shadow:0 20px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

figure img {
    transition: transform 0.8s ease-in-out;
    
    border-radius: 10px;
    box-shadow:0 20px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

figure img:hover {

    filter: blur(2px);
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}
.span{
    font-weight: bolder;
    color: rgb(146, 139, 139);
    font-size: 18px;
}