.contenedor{
    
    /* margin-top:20vh; */
    /* background-color:white ; */
    /* padding-top: 10%; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
   
}
.contenedorRegister{
    
    /* margin-top:20vh; */
    /* background-color:white ; */
    padding-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
   
}

.title{
    /* margin-bottom: 4%; */
    color: white;
    
}

.title span{
    color:#E65262;
   
    
}
.card input{
    margin-bottom: 0%;
    border-radius: 5px;
}
.cardRegister input{
    
    
    color: white;
    background-color: #202430;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
    margin-bottom: 0%;
}

.botonEliminar {
    width: 90px;
    color:white;
    /* background-color:#E65262 ; */
    background: linear-gradient(to bottom right, #F54864 ,#F78361);
    /* line-height: 19px; */
    border-radius: 10px;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    
}

.botonGuardar{
    width: 90px;
    color:white;
    background-color:#4E596F ;
    background: linear-gradient(to bottom right, #4E596F, #202430);
    /* line-height: 19px; */
    border-radius: 10px;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.card{
    width: 40vw;
    color:white;
    background-color:#242A38 ;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 30px;
}

.cardRegister{
    width: 80vw;
    color:white;
    background-color:#242A38 ;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 30px;
}



.card h3{
    margin-top: 20px;
}
.cardRegister h3{
    margin-top: 20px;
}

@media screen and (max-width:600px){
    .card{
        margin-top:5%;
        width: 80vw;
    }
  

}

@media screen and (max-width:1490px){
    .card{
        /* margin-top:5%; */
        width: 40vw;
    }

}