.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;     
    background-color: #242A38;
    color: white;
    padding-top: 90px;
}
.card img{
    width: 550px;
    height: 650px;
    background-color: #242A38;
    border-radius: 20px;
}


