.card{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CEAD6D;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
}