body{
    background-color: #E1DCE0;
 }   
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CEAD6D;
    width: 100vw;
    
    
    
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    background-color: #e1dce0;
    margin-top: 7rem
}