.root {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    padding-top: 60px;
    overflow: hidden;
}

.chatsRoot {
    padding: 24px 12px;
    background-color: #242A38;
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 4px;
    border-right: 1px solid #0e1116;
}

.chatsRoot h4 {
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 1.8rem;
    position: static;
}

.orgsRoot {
    padding: 24px 12px;
    background-color: #242A38;
    border-right: 1px solid #0e1116;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.listOrg {
    padding: 8px;
    border-bottom: 1px solid #0e1116;
}

.listOrg:hover {
    background-color: #3f485b;
    border-radius: 50%;
}

.chatsTitle {
    color: white;
}

.chatCreateButton {
    display: flex;
    flex-direction: row;
    margin: 5px;
    justify-content: space-between;
}

.usersTitle {
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 10px;

}

.listUserRoot {
    padding: 24px 12px;
    background-color: #242A38;
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 4px;
    border-left: 1px solid #0e1116;
}

.chat {
    display: flex;
    color: white;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    height: 45px;
    box-shadow: -5px, -5px;
    align-items: center;
    border-bottom: 1px solid #0e1116;
    transition: transform 0.2s ease-in-out;
    display: flex;
    justify-content: space-between;
}

.chatSpace {
    overflow: hidden;
    height: 40%;
    border-bottom: 1px solid white;
    padding: 15px;
  


}

.chatSpace:hover {
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    overflow: hidden;
}

.focusedChat {
    background: linear-gradient(to bottom right, #F54864, #F78361);
    max-width: 275px;
    transform: scale(1.1);

}

.chat:hover {
    background-color: #3f485b;
    transform:scale(1.1)

}

.chatWindow {
    background-color: #3f485b;
    border-radius: 4px;
    color: white;
    flex: 1;
    box-sizing: border-box;
}

.chatHeader {
    box-sizing: border-box;
    padding: 15px;
    background-color: #242A38;
    border-bottom: 1px solid #0e1116;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divider {
    border-top: 1px solid white;
    background-color: #242A38;
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: calc(100% - 50px);
}

.messages {
    flex: 1;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;

}

.area {
    background: linear-gradient(to bottom right, #a10d26, #e67d5d);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    max-height: 200px;
    font-size: 18px;
    color: white;
    margin-bottom: 1.2rem;
}

.messages>div {
    /* don't allow the children of the scrollable element to be selected as an anchor node */
    overflow-anchor: none;
}

.messages:hover {
    overflow-y: scroll;
    padding-right: 0px;
}

.usersRoot {
    color: white;
    display: flex;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    margin: 4px;
    border-bottom: 1px solid #0e1116;
    align-items: center;
 
}
.usersRoot:hover{
    background-color: #3f485b;

}

.circleAvatarUsers:hover {
    cursor: pointer;

}

.buttonCreateChat{
    cursor:pointer;
    transition: transform 0.2s ease-in-out;
    
}

.buttonCreateChat:hover {
    transform: scale(1.2);
  }



::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}